header{
    font-size: 25px;
    text-align: center;
    background-color: #FFC6CD;
    padding: 30px;
    font-family: Georgia, serif;
    color: #4E443C;
}

body {
    background-color:#FFDBE0;
    font-family: Georgia, serif;
}

sub {
    font-size: 10px;
}

h2 {
    text-align: center;
}

article {
    padding: 20px;
    margin-top: 20px;
    background-color: #FFE9EC;
}

footer {
    padding: 20px;
    margin-top: 20px;
    background-color: #FFE9EC;
}