header {
    font-size: 1.5em;
    text-align: center;
    background-color: #b6c454;
    padding: 10px;
    font-family: Georgia, serif;
    color: #4e4949;
    border-radius: 10px;
}

body {
    background-color: #d8d174;
    font-family: Georgia, serif;
    margin: 20px;
}

main {
    background-color: #f6fedb;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    color: #4e4949;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

img {
    width: 50%;
}

figure {
    margin: 0;
}

footer {
    background-color: #b6c454;
    padding: 20px;
    font-family: Georgia, serif;
    color: #4e4949;
    border-radius: 10px;
}